$main-color: white;

body {
  background-color: $main-color;
}

/* 초기화 스타일 */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px;
  font-family: "Noto Sans KR";
  min-height: 100%;
  margin: 0;
  position: relative;

}
ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
.header {
  width: 1200px;
  margin: 0 auto;
  padding-top: 50px;

}
.header::after {
  content: "";
  display: block;
  clear: both;
}
.logo {
  margin: 0;
  float: left;
}
.member {
  float: right;
  font-weight: 400;
  font-size: 1.2rem;
}
.member li {
  display: inline;
}
.member li:nth-child(n+2)::before {
  content: "|";
  margin: 0 9px;
}
.main-img {
  background-color: #EEEDE9;
  margin-top: 30px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;

}

.category{
  width: 1000px;
  margin:0 auto;
  padding:20px 20px;
  font-size:20px;

}

.category li{
  float: left;
  position:relative;
  margin:20px 0 30px 100px;

}

.category ul{
  overflow:hidden;
  border-bottom:1px solid #eaeaea;
}
.item-list{
  width:1000px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
.item-item{
  width:30%;
  margin: 10px;
  text-align: center;
}

.footer {
  position: absolute;
  width: 100%;
  height: 100px;
  text-align: center;
  color: white;
  background-color: #0E2C4A;
}

// input창
input{
border:  1px solid black;
}
